@mixin arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: $white;
  border: 1px solid #f0f0f0;
  border-radius: 50%;

  transition: 
    background-image .4s,
    background-color .4s,
    border-color .4s
    box-shadow .4s;

  i {
    font-size: 14px;
    color: #777777;
    transition: color .4s;
  }

  &:hover,
  &:focus {
    outline: none;
    background: $gradient;
    background-color: rgb(253, 113, 44);
    border-color: #d7d9db;
    box-shadow: 0 0 0 1px #d7d9db;
    i {
      color: $white;
    }
  }
}