@mixin btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;

  font-family: $font-main;

  transition: background-color .4s;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
  }
}