.app-info {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 710px;
}

.app-info__wrap {
  width: 48%;
  margin-right: 2%;

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  &--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9px;
  }
}

.app-info__img-wrap {
  position: relative;

  img {
    position: absolute;
    z-index: -1;
    right: -51%;
    top: 0;
    height: 590px;
    width: auto;
  }
}

.app-info__sub-wrap {
  margin-bottom: 69px;
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.app-info__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: 600;
}

.app-info__desc {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.app-info__sub-wrap {}

.app-info__desc {}

.app-info__list {}

.app-info__item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  i {
    font-size: 16px;
    margin-right: 20px;
    color: #222222;
  }
}

@media (max-width: $desktop-width) {

};

@media (max-width: $tablet-width) {

};

@media (max-width: $mobile-width) {

};