.app-info {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 710px;
}

.app-info__wrap {
  width: 48%;
  margin-right: 2%;

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  &--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9px;
  }
}

.app-info__img-wrap {
  position: relative;

  img {
    position: absolute;
    z-index: -1;
    right: -51%;
    top: 0;
    height: 590px;
    width: auto;
  }
}

.app-info__sub-wrap {
  margin-bottom: 69px;
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.app-info__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: 600;
}

.app-info__desc {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.app-info__item {
  display: flex;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  i {
    font-size: 16px;
    margin-right: 20px;
    padding-top: 5px;
    color: #222222;
  }
}

@media (max-width: $desktop-width) {
  .app-info__img-wrap {
    img {
      right: -105%;
    }
  }
};

@media (max-width: $tablet-width) {
  .app-info {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 0;
  }

  .app-info__wrap {
    position: relative;
    width: 100%;
    text-align: center;

    &:nth-child(1) {
      order: 1;
      min-height: 550px;
      padding-top: 50px;
    }
  }

  .app-info__list {
    display: inline-block;
    text-align: left;
  }

  .app-info__img-wrap {
    position: static;
    img {
      height: 500px;
      right: -50%;
      top: auto;
      bottom: 0x;
    }
  }

  .app-info__title {
    font-size: 32px;
    line-height: 32px;
  }

  .app-info__desc,
  .app-info__item {
    font-size: 12px;
    line-height: 20px;
  }
};

@media (max-width: $mobile-width) {
  .app-info {
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
  }

  .app-info__wrap {
    width: auto;
    

    &:nth-child(1) {
      min-height: 450px;
    }
  }

  .app-info__img-wrap {
    img {
      height: 370px;
      right: -225px;
      top: 70px;
    }
  }
};

@media (max-width: 400px) {
  .app-info__img-wrap {
    img {
      right: -95%;
    }
  }
}