.copyright__link {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  transition: color .4s;

  &:hover,
  &:focus {
    color: #fd712c;
  }
}

@media (max-width: $tablet-width) {
  .copyright__link {
    font-size: 12px;
    line-height: 20px;
  }
};

@media (max-width: $mobile-width) {

};
