.feature {
 display: flex;
}

.feature__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  margin-right: 24px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  i {
    font-size: 22px;
    color: #f31f79;
  }
}

.feature__title {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  font-family: $font-accent;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.feature__desc {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

@media (max-width: $desktop-width) {

};

@media (max-width: $tablet-width) {

};

@media (max-width: $mobile-width) {

};
