.footer {
  background-color: $black;
  padding-top: 58px;
  padding-bottom: 56px;
  text-align: center;
}

.footer__social {
  margin-bottom: 20px;
}


@media (max-width: $desktop-width) {

};

@media (max-width: $tablet-width) {

};

@media (max-width: $mobile-width) {

};
