@font-face {
  font-family: 'Roboto'; 
  src: 
    url('../fonts/roboto-300-light.woff2') format('woff2'),
    url('../fonts/roboto-300-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto'; 
  src: 
    url('../fonts/roboto-400-regular.woff2') format('woff2'),
    url('../fonts/roboto-400-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto'; 
  src: 
  url('../fonts/roboto-600-bold.woff2') format('woff2'),
  url('../fonts/roboto-600-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis'; 
  src: 
    url('../fonts/dosis-400-regular.woff2') format('woff2'),
    url('../fonts/dosis-400-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis'; 
  src:
    url('../fonts/dosis-500-medium.woff2') format('woff2'),
    url('../fonts/dosis-500-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis'; 
  src:
    url('../fonts/dosis-600-semibold.woff2') format('woff2'),
    url('../fonts/dosis-600-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis'; 
  src:
    url('../fonts/dosis-700-bold.woff2') format('woff2'),
    url('../fonts/dosis-700-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html, body {
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  overflow-x: hidden;
  @include text;
}

a {
  text-decoration: none;
  @include text;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}

body {
  background-color: $white;
}

h1, h2, h3 {
  color: $black;
  font-family: $font-accent;
  font-weight: 500;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;

  @media (max-width: $desktop-width) {
    width: 850px;
  };

  @media (max-width: $tablet-width) {
    width: 555px;
  };

  @media (max-width: $mobile-width) {
    width: 263px;
  };
}

.opacity {
  &--0 {
    opacity: 0;
  }
  
  &--1 {
    opacity: 1;
  }
}
