.header {
  width: 100%;
  position: absolute;
  z-index: 5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 30px;
  img {}
}

.header__burger {
  display: none;

  &:hover,
  &:focus {
    .animated-icon1 {
      span {
        background-color: $black;
      }
    }
  }
}

.header__nav-wrap {
  flex-grow: 1;
}

@media (max-width: $tablet-width) {
  .header {
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 5px rgba(255,255,255,.1);
  }

  .header__wrap {
    display: flex;
    justify-content: space-between;
  }

  .header__nav-wrap {
    position: relative;
  }

  .header__nav {
    top: -15px;
    right: -13px;
  }

  .header__burger {
    margin-right: 0;
    margin-left: auto;
    position: relative;
    z-index: 5;
    display: block;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }
};

@media (max-width: $mobile-width) {
  .header__wrap {
    width: auto;
  }

};
