.header {
  width: 100%;
  position: absolute;
  z-index: 5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 30px;
  img {}
}

.header__burger {
  display: none;
}

.header__nav {
  flex-grow: 1;
}

@media (max-width: $desktop-width) {

};

@media (max-width: $tablet-width) {

};

@media (max-width: $mobile-width) {

};
