.hover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  padding-top: 120px;
  padding-bottom: 120px;
  background: $gradient;
  background-color: rgb(253, 113, 44);

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;

    background-image: url(../img/hover/iphones.png);
    background-repeat: no-repeat;
    background-position: top 85% right;
    background-size: 100% auto;
  }
}

.hover__wrap {
  width: 50%;
}

.hover__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-accent;
  font-weight: 600;
  font-size: 54px;
  line-height: 60px;
  color: $white;
}

.hover__desc {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: $white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.hover__list {
  margin-bottom: 33px;
}

.hover__item {
  display: flex;
  margin-bottom: 10px;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  i {
    font-size: 16px;
    margin-right: 20px;
    padding-top: 5px;
  }
}

.hover__btn {
  @include btn;

  padding-left: 40px;
  padding-right: 40px;

  border: none;
  background-color: $white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;

  box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);

  transition: 
    box-shadow .4s,
    background-color .4s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0);
  }
}

@media (max-width: $desktop-width) {
  .hover {
    padding-bottom: 300px;
    &::before {
      content: "";
      width: 65%;
      background-position: top 100% right;
      background-size: 110% auto;
    }
  }
  
  .hover__wrap {
    width: 65%;
  }

  .hover__title {
    font-size: 40px;
  }
};

@media (max-width: $tablet-width) {
  .hover__desc,
  .hover__item,
  .hover__btn {
    font-size: 12px;
    line-height: 20px;
  }

  .hover__btn {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    font-size: 14px;
  }
};

@media (max-width: $mobile-width) {
  .hover {
    &:before {
      width: 85%;
    }
  }

  .hover__wrap {
    width: 100%;
    max-width: 410px;
  }

  .hover__desc {
    display: block;
    width: auto;
  }
};
