.nav {
  flex-grow: 1;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 0;
  list-style: none;
}

.nav__item {
  @include btn;

  &:hover, &:focus {
    background-color: $white;
    outline: none;
    .nav__link {
      font-weight: 600;
      color: #222222;
    }
  }
}

.nav__link {
  font-weight: 400;
  color: $white;

  transition:
    font-weight .4s,
    color .4s;

  &:hover, &:focus {
    font-weight: 600;
    color: #222222;
    outline: none;
  }
}

@media (max-width: $desktop-width) {

};

@media (max-width: $tablet-width) {

};

@media (max-width: $mobile-width) {

};
