.pricing {
  padding-top: 117px;
  padding-bottom: 92px;
}

.pricing__title {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  text-align: center;
  font-size: 36px;
  line-height: 30px;
  font-weight: 600;
}

.pricing__desc {
  display: block;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 0;

  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.pricing__list {
  display: flex;
  flex-wrap: wrap;
}

.pricing__price-item {
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(4n +4) {
    margin-right: 0;
  }
}

@media (max-width: $desktop-width) {
  .pricing__price-item {
    &:nth-child(4n + 4) {
      margin-right: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
};

@media (max-width: $tablet-width) {
  .pricing {
    padding-top: 80px;
  }

  .pricing__desc {
    margin-bottom: 50px;
  }

  .pricing__price-item {
    &:nth-child(3n + 3) {
      margin-right: 30px;
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  .pricing__desc {
    font-size: 12px;
    line-height: 20px;
  }
};

@media (max-width: $mobile-width) {

};
