.reviews {
  position: relative;
  padding-top: 118px;
  padding-bottom: 70px;
  background-color: $white;
}

.reviews__title {
  max-width: 645px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
}

.reviews__desc {
  max-width: 645px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
}

.reviews__glide {
  .glide__track {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .glide__slides {
    overflow: visible;
  }

  .glide__slide {
    height: auto;
    background-color: #f7fafc;

    transition:
      background-color .4s,
      box-shadow .4s;
  }

  .glide__slide--active {
    background-color: $white;
    box-shadow: 0 10px 40px 5px rgba(0, 0, 0, .1);
  }
}

.reviews__arrow-wrap {
  width: 1325px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.reviews__arrow {
  @include arrow;
}

@media (max-width: $desktop-width) {
  .reviews__arrow-wrap {
    width: 1000px;
  }
};

@media (max-width: $tablet-width) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 32px;

  .reviews__desc {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
  }

  .reviews__slide-review {
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__arrow-wrap {
    width: 655px;
  }
};
}

@media (max-width: $tablet-width) {
  .reviews__arrow-wrap {
    width: 670px;
  }
}

@media (max-width: $mobile-width) {
  .reviews__glide {
    .glide__slide--active {
      background-color: $white;
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, .1);
    }
  }

  .reviews__arrow-wrap {
    width: 300px;
  }

  .reviews__title,
  .reviews__desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
  }
};