.slide-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  min-height: 100%;

  padding-top: 34px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 35px;
}

.slide-review__desc {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .slide-review__desc {
    font-size: 12px;
    line-height: 20px;
  }
};

@media (max-width: $mobile-width) {

};
