.socl {}

.socl__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socl__item {
  margin-right: 30px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.socl__link {
  color: $white;
  transition: color .4s;

  &:hover,
  &:focus {
    color: #f31f79;
    outline: none;
  }
}

@media (max-width: $desktop-width) {

};

@media (max-width: $tablet-width) {

};

@media (max-width: $mobile-width) {

};