.app-info__wrap.col-6
  .app-info__img-wrap
    img(src="./img/app-info/iPhone.png" alt="DELTA app on iPhone")
.app-info__wrap.col-6
  .app-info__sub-wrap
    h2.app-info__title We don’t leave you stranded
    p.app-info__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
  .app-info__sub-wrap
    p.app-info__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer.
    ul.app-info__list
      li.app-info__item #[i.fa.fa-check-circle] Unlimited colors: banner with images, slider or video
      li.app-info__item #[i.fa.fa-check-circle] Fully Responsive and powered by HTML5 and CSS3
      li.app-info__item #[i.fa.fa-check-circle] Very easy to customize : set up in minutes
