h2.download__title Download Giant App Now
ul.download__list.row
  li.download__item.col-4
    a.download__link(href="#")
      .download__img-wrap
        img(src="./img/downloads/apple.svg" alt="apple" width="60" height="60")
      .download__item-wrap
        strong.download__action Download
        p.download__desc Download from app store
  li.download__item.col-4
    a.download__link(href="#")
      .download__img-wrap
        img(src="./img/downloads/android.svg" alt="android" width="60" height="60")
      .download__item-wrap
        strong.download__action Download
        p.download__desc Download from play store
  li.download__item.col-4
    a.download__link(href="#")
      .download__img-wrap
        img(src="./img/downloads/windows.svg" alt="windows" width="60" height="60")
      .download__item-wrap
        strong.download__action Download
        p.download__desc Download from microsoft store
