.download__wrap.wrap
  h2.download__title Download Giant App Now
  ul.download__list
    li.download__item
      a.download__link(href="#")
        .download__img-wrap
          svg(width="60" height="60")
            use(xlink:href="#icon-apple")
        .download__item-wrap
          strong.download__action Download
          p.download__desc Download from app store
    li.download__item
      a.download__link(href="#")
        .download__img-wrap
          svg(width="60" height="60")
            use(xlink:href="#icon-android")
        .download__item-wrap
          strong.download__action Download
          p.download__desc Download from play store
    li.download__item
      a.download__link(href="#")
        .download__img-wrap
          svg(width="60" height="60")
            use(xlink:href="#icon-windows")
        .download__item-wrap
          strong.download__action Download
          p.download__desc Download from microsoft store
