h2.visually-hidden our advantage
ul.features__list
  li.features__feature.feature
    span.feature__icon
      i.fa.fa-tags
    .feature__wrap
      h3.feature__title Sell any product online
      p.feature__desc Over 92% of computers are infected with Adware and spyware. Such software is rarely
  li.features__feature.feature
    span.feature__icon
      i.fa.fa-cog
    .feature__wrap
      h3.feature__title Very easy to customize
      p.feature__desc Many of us are so used to working on a computer desktop that when it comes time
  li.features__feature.feature
    span.feature__icon
      i.fa.fa-paint-brush
    .feature__wrap
      h3.feature__title Unlimited colors
      p.feature__desc Audio player software is used to play back sound recordings in one of the many
  li.features__feature.feature
    span.feature__icon
      i.fa.fa-fire-extinguisher
    .feature__wrap
      h3.feature__title Responsive, HTML5, CSS3
      p.feature__desc Computers have become ubiquitous in almost every facet of our lives. At work, desk
  li.features__feature.feature
    span.feature__icon
      i.fa.fa-file-alt
    .feature__wrap
      h3.feature__title Designed to convert
      p.feature__desc If you are looking for a new way to promote your business that won’t cost you more
  li.features__feature.feature
    span.feature__icon
      i.fa.fa-life-ring
    .feature__wrap
      h3.feature__title With no boundaries
      p.feature__desc Now, if you are interested in being the best player, getting really good money and
