footer.footer
  .footer__wrap.wrap
    .footer__social.social
      .social__list
        li.social__item
          a.social__link(href="#" aria-label="go to us on facebook")
            i.fab.fa-facebook-f
        li.social__item
          a.social__link(href="#" aria-label="go to us on twitter")
            i.fab.fa-twitter
        li.social__item
          a.social__link(href="#" aria-label="go to us on dribbble")
            i.fab.fa-dribbble
        li.social__item
          a.social__link(href="#" aria-label="go to us on behance")
            i.fab.fa-behance
    .footer__copyright.copyright
      a.copyright__link(href="#") Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com
