footer.footer
  .footer__wrap.wrap
    .footer__socl.socl
      ul.socl__list
        li.socl__item
          a.socl__link(href="#" aria-label="go to us on facebook" onclick="return false")
            i.fab.fa-facebook-f
        li.socl__item
          a.socl__link(href="#" aria-label="go to us on twitter" onclick="return false")
            i.fab.fa-twitter
        li.socl__item
          a.socl__link(href="#" aria-label="go to us on dribbble" onclick="return false")
            i.fab.fa-dribbble
        li.socl__item
          a.socl__link(href="#" aria-label="go to us on behance" onclick="return false")
            i.fab.fa-behance
    .footer__copyright.copyright
      a.copyright__link(href="#" onclick="return false") Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com
