header.header
  .header__wrap.wrap
    .header__logo
      img(src="./img/header/logo.png" alt="logo Giant" width="128" height="42")
    .header__nav-wrap
      button.header__burger(type="button" aria-label="close or open the navigation menu")
        span.animated-icon1
          span
          span
          span
      nav.header__nav.nav.navbar-collapse
        ul.nav__list
          li.nav__item
            a.nav__link(href="#home") Home
          li.nav__item
            a.nav__link(href="#features") Features
          li.nav__item
            a.nav__link(href="#pricing") Pricing
          li.nav__item
            a.nav__link(href="#download") Download Now
