header.header
  .header__wrap.wrap
    .header__logo
      img(src="./img/header/logo.png" alt="logo Giant" width="128" height="42")
    button.header__burger(type="button" aria-label="close or open the navigation menu")
    nav.header__nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#home") Home
        li.nav__item
          a.nav__link(href="#features") Features
        li.nav__item
          a.nav__link(href="#pricing") Pricing
        li.nav__item
          a.nav__link(href="#download") Download Now
