.hover__wrap
  h1.hover__title A Powerful & Unique #[br] App Landing Template
  p.hover__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  ul.hover__list
    li.hover__item #[i.fa.fa-check-circle] Unlimited colors: banner with images, slider or video
    li.hover__item #[i.fa.fa-check-circle] Fully Responsive and powered by HTML5 and CSS3
    li.hover__item #[i.fa.fa-check-circle] Very easy to customize : set up in minutes
  button.hover__btn(type="button") Start Exploring Us
.hover__wrap
  .hover__img-wrap
    img(src="./img/hover/iphones.png", alt="Giant app on three smartphones")