h2.pricing__title We've got the perfect package for you
p.pricing__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
ul.pricing__list
  li.pricing__price-item.price-item
    span.price-item__type Basic
    .price-item__wrap-price
      svg(width="262" height="120")
        use(xlink:href="#icon-price-billet")
      .price-item__wrap-num
        span.price-item__currency $
        span.price-item__num 12.0
        span.price-item__unit /m
    ul.price-item__list
      li.price-item__item One User
      li.price-item__item Multiple Access
      li.price-item__item SMS Support
      li.price-item__item 24/7 Online Support
    .price-item__wrap-btn
      .price-item__btn-desc Start Free Trial
      button.price-item__btn-buy(type="button") Buy Now
  li.pricing__price-item.price-item
    span.price-item__type Standard
    .price-item__wrap-price
      svg(width="262" height="120")
        use(xlink:href="#icon-price-billet")
      .price-item__wrap-num
        span.price-item__currency $
        span.price-item__num 24.0
        span.price-item__unit /m
    ul.price-item__list
      li.price-item__item One User
      li.price-item__item Multiple Access
      li.price-item__item SMS Support
      li.price-item__item 24/7 Online Support
    .price-item__wrap-btn
      .price-item__btn-desc Start Free Trial
      button.price-item__btn-buy(type="button") Buy Now
  li.pricing__price-item.price-item
    span.price-item__type Premium
    .price-item__wrap-price
      svg(width="262" height="120")
        use(xlink:href="#icon-price-billet")
      .price-item__wrap-num
        span.price-item__currency $
        span.price-item__num 250.0
        span.price-item__unit /m
    ul.price-item__list
      li.price-item__item One User
      li.price-item__item Multiple Access
      li.price-item__item SMS Support
      li.price-item__item 24/7 Online Support
    .price-item__wrap-btn
      .price-item__btn-desc Start Free Trial
      button.price-item__btn-buy(type="button") Buy Now
  li.pricing__price-item.price-item
    span.price-item__type Enterprise
    .price-item__wrap-price
      svg(width="262" height="120")
        use(xlink:href="#icon-price-billet")
      .price-item__wrap-num
        span.price-item__currency $
        span.price-item__num 999.0
        span.price-item__unit /m
    ul.price-item__list
      li.price-item__item One User
      li.price-item__item Multiple Access
      li.price-item__item SMS Support
      li.price-item__item 24/7 Online Support
    .price-item__wrap-btn
      .price-item__btn-desc Start Free Trial
      button.price-item__btn-buy(type="button") Buy Now
