h2.screenshots__title Take a look at our screenshots
p.screenshots__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
.screenshots__slider
  .screenshots__glide.glide
    .glide__track(data-glide-el="track")
      ul.glide__slides
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-1.jpg" alt="screenshot-1")
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-2.jpg" alt="screenshot-2")
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-3.jpg" alt="screenshot-3")
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-4.jpg" alt="screenshot-4")
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-5.jpg" alt="screenshot-5")
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-6.jpg" alt="screenshot-6")
        li.glide__slide
          .screenshots__slide
            img(src="./img/screenshots/screen-7.jpg" alt="screenshot-7")
    .screenshots__arrow-wrap.glide__arrows(data-glide-el="controls")
      button.screenshots__arrow.screenshots__arrow--left.glide__arrow.glide__arrow--left(type="button" aria-label="last slide" data-glide-dir="<")
        i.fa.fa-long-arrow-alt-left
      button.screenshots__arrow.screenshots__arrow--right.glide__arrow.glide__arrow--right(type="button" aria-label="next slide" data-glide-dir=">")
        i.fa.fa-long-arrow-alt-right
