.video__wrap-hover
  button.video__play(type="button" aria-label="play video")
    i.fa.fa-play
  img.video__hover(src="./img/video/bg.jpg" alt="hover for video")
.video__wrap-video
  iframe(width="560" height="315" src="https://www.youtube.com/embed/a3tQWMhRVXI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)