$font-main: "Roboto", sans-serif;
$font-accent: "Dosis", sans-serif;
$mobile-width: 600px;
$tablet-width: 900px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #222222;
$gray: #777777;
$gradient: linear-gradient(
  45deg,
  rgb(253, 113, 44) 0%,
  rgb(253, 113, 44) 10%,
  rgb(242, 23, 128) 89%,
  rgb(242, 23, 128) 100%);
