$font-main: "Roboto", sans-serif;
$mobile-width: 320px;
$tablet-width: 600px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gradient: linear-gradient(
  45deg,
  rgb(253, 113, 44) 0%,
  rgb(253, 113, 44) 10%,
  rgb(242, 23, 128) 89%,
  rgb(242, 23, 128) 100%);
